<header class="header">
    <div class="header-1">
        
        <a href="#" class="logo"><i class="fas fa-book">delivery Trans</i></a>
        <a href="#" class="number"><i class="fa fa-phone">7 123 456 78 90</i></a>
        
        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div class="fas fa-search"></div>
            <a href="#"><i class="fa fa-calculator">Калькулятор</i></a>
            <a href="#"><i class="fa fa-admin">Вход</i></a>
            <div class="fas fa-user"></div>
        </div>

    </div>
</header>